#!/usr/bin/env ruby


### ASSETS

passthrough '/images/**/*'
passthrough '/javascript/**/*'
passthrough '/fonts/**/*'

compile '/stylesheets/*.sass' do
  filter :sass
  write item.identifier.without_ext + '.' + Digest::SHA1.hexdigest(item.raw_content) + '.css'
end

compile '/images/**/*' do
  write item.identifier
end


### VIEWS

compile '/articles.erb.md' do
  filter :erb
  filter :krimdown
  layout '/default.erb'
  write item.identifier.without_exts + '/index.html'
end

compile /^\/(articles|posts)\/.+\.md$/ do
  filter :krimdown
  layout '/article.erb'
  layout '/default.erb'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.html' do
  layout '/default.erb'
  write item.identifier
end


###

compile '/**/*' do
end

layout '/*.erb', :erb
