<ul class="articles">
<% for item in @items.select{|i| i[:published] }.sort{|a,b| b[:date] <=> a[:date] } %>
  <li>
    <a href="<%= item.identifier.without_ext %>/"><%= item[:title] %></a>
    <span class="date"><%= item[:date].strftime('%-d %b %Y') %></span>
  </li>
<% end %>
</ul>
