@import url(http://fonts.googleapis.com/css?family=Raleway:700,400&subset=latin,latin-ext);

* {
  margin: 0;
  padding: 0;

  font-family: Helvetica;
}

body {
  background: #fff;
  font-size: 80%;
  padding: 1em;
}

#main {
  margin: 0 auto;
  width: 45em;
  max-width: 100%;
}

#menu {
  list-style-type: none;
  overflow: hidden;
  font-size: 80%;
}

  #menu li {
    float: left;
    margin: 0 0.5em 0 0;
  }

    #menu li a {
      display: block;
      padding: 0.2em;
      text-decoration: none;
      color: #000;
    }

      #menu li.current a, #menu li a:hover, #menu li a:active {
        background: #000;
        color: #fff;
      }

#content {
  margin: 2em 0 0 0;
}

  #content h1 {
    font-size: 120%;
    margin: 0 0 1em 0;
  }

  #content h2 {
    font-size: 110%;
    margin: 3em 0 1em 0;
  }

  #content h3 {
    font-size: 100%;
    margin: 3em 0 1em 0;
  }

  #content p {
    margin: 1.5em 0;
    line-height: 1.3em;
  }

    #content p.image {
    }

      #content p.image img {
      }

  #content code {
    background: #000;
    color: #fff;
    padding: 0.2em 0.3em;
    font-size: 90%;
  }

  #content pre {
    margin: 3em 0.5em;
    padding: 0.5em;
    background: #000;
    color: #fff;
  }

  #content pre code {
    display: block;
    font-family: monospace;
    line-height: 1.2em;
  }

  #content ul {
    list-style-position: outside;
    margin: 2em 1em;
  }

    #content ul li {
      margin: 0.5em 0;
    line-height: 1.2em;
    }
