body.regular #content pre code .annotation {
  color: #000; }
body.regular #content pre code .attribute-name {
  color: #000; }
body.regular #content pre code .attribute-value {
  color: #000; }
body.regular #content pre code .binary {
  color: #000; }
  body.regular #content pre code .binary .char, body.regular #content pre code .binary .delimiter {
    color: #000; }
body.regular #content pre code .char {
  color: #000; }
  body.regular #content pre code .char .content {
    color: #000; }
  body.regular #content pre code .char .delimiter {
    color: #000; }
body.regular #content pre code .class {
  color: #025;
  font-weight: bold; }
body.regular #content pre code .class-variable {
  color: #000; }
body.regular #content pre code .color {
  color: #000; }
body.regular #content pre code .comment {
  color: #002;
  opacity: 0.7; }
  body.regular #content pre code .comment .char, body.regular #content pre code .comment .delimiter {
    color: #000; }
body.regular #content pre code .constant {
  color: #025;
  font-weight: bold; }
body.regular #content pre code .decorator {
  color: #000; }
body.regular #content pre code .definition {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .delimiter {
  color: black; }
body.regular #content pre code .directive {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .docstring {
  color: #000; }
body.regular #content pre code .doctype {
  color: #000; }
body.regular #content pre code .done {
  text-decoration: line-through;
  color: gray; }
body.regular #content pre code .entity {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .error {
  color: #000;
  background-color: #000; }
body.regular #content pre code .escape {
  color: #000; }
body.regular #content pre code .exception {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .float {
  color: #000; }
body.regular #content pre code .function {
  color: #000;
  font-weight: bold; }
  body.regular #content pre code .function .delimiter {
    color: #000;
    font-weight: bold; }
body.regular #content pre code .global-variable {
  color: #f00; }
body.regular #content pre code .hex {
  color: #000; }
body.regular #content pre code .id {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .include {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .inline {
  color: black; }
body.regular #content pre code .inline-delimiter {
  font-weight: bold;
  color: #600; }
body.regular #content pre code .instance-variable {
  color: #960; }
body.regular #content pre code .integer {
  color: #00c; }
body.regular #content pre code .imaginary {
  color: red; }
body.regular #content pre code .important {
  color: #000; }
body.regular #content pre code .key {
  color: #000; }
  body.regular #content pre code .key .content {
    color: #802; }
  body.regular #content pre code .key .delimiter {
    color: #802; }
body.regular #content pre code .keyword {
  color: #234;
  font-weight: bold; }
body.regular #content pre code .label {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .local-variable {
  color: #000; }
body.regular #content pre code .map {
  background-color: rgba(0, 170, 255, 0); }
  body.regular #content pre code .map .content {
    color: #000; }
  body.regular #content pre code .map .delimiter {
    color: #000; }
body.regular #content pre code .namespace {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .octal {
  color: #000; }
body.regular #content pre code .predefined {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .predefined-constant {
  color: #000; }
body.regular #content pre code .predefined-type {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .preprocessor {
  color: #000; }
body.regular #content pre code .pseudo-class {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .regexp {
  background-color: rgba(255, 0, 255, 0); }
  body.regular #content pre code .regexp .content {
    color: #000; }
  body.regular #content pre code .regexp .delimiter {
    color: #000; }
  body.regular #content pre code .regexp .modifier {
    color: #000; }
body.regular #content pre code .reserved {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .shell {
  background-color: rgba(0, 255, 0, 0); }
  body.regular #content pre code .shell .content {
    color: #000; }
  body.regular #content pre code .shell .delimiter {
    color: #000; }
body.regular #content pre code .string .char {
  color: #802; }
body.regular #content pre code .string .content {
  color: #802; }
body.regular #content pre code .string .delimiter {
  color: #802; }
body.regular #content pre code .string .modifier {
  color: #000; }
body.regular #content pre code .symbol {
  color: #000; }
  body.regular #content pre code .symbol .content {
    color: #802; }
  body.regular #content pre code .symbol .delimiter {
    color: #802; }
body.regular #content pre code .tag {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .type {
  color: #000;
  font-weight: bold; }
body.regular #content pre code .value {
  color: #000; }
body.regular #content pre code .variable {
  color: #000; }
body.regular #content pre code .insert {
  background: rgba(0, 255, 0, 0); }
body.regular #content pre code .delete {
  background: rgba(255, 0, 0, 0); }
body.regular #content pre code .change {
  color: #000;
  background: #000; }
body.regular #content pre code .head {
  color: #000;
  background: #000; }
  body.regular #content pre code .head .filename {
    color: white; }
body.regular #content pre code .delete .eyecatcher {
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgba(230, 0, 0, 0);
  margin: -1px;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
body.regular #content pre code .insert .eyecatcher {
  background-color: rgba(0, 255, 0, 0);
  border: 1px solid rgba(0, 128, 0, 0);
  margin: -1px;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
body.regular #content pre code .insert .insert {
  color: #000;
  background: transparent;
  font-weight: bold; }
body.regular #content pre code .delete .delete {
  color: #000;
  background: transparent;
  font-weight: bold; }
body.regular #content pre code .change .change {
  color: #000; }
body.regular #content pre code .head .head {
  color: #000; }

body.zft #content pre code .annotation {
  color: #000; }
body.zft #content pre code .attribute-name {
  color: #000; }
body.zft #content pre code .attribute-value {
  color: #000; }
body.zft #content pre code .binary {
  color: #000; }
  body.zft #content pre code .binary .char, body.zft #content pre code .binary .delimiter {
    color: #000; }
body.zft #content pre code .char {
  color: #000; }
  body.zft #content pre code .char .content {
    color: #000; }
  body.zft #content pre code .char .delimiter {
    color: #000; }
body.zft #content pre code .class {
  color: #06f;
  font-weight: bold; }
body.zft #content pre code .class-variable {
  color: #000; }
body.zft #content pre code .color {
  color: #000; }
body.zft #content pre code .comment {
  color: #006;
  opacity: 0.7; }
  body.zft #content pre code .comment .char, body.zft #content pre code .comment .delimiter {
    color: #000; }
body.zft #content pre code .constant {
  color: #06f;
  font-weight: bold; }
body.zft #content pre code .decorator {
  color: #000; }
body.zft #content pre code .definition {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .delimiter {
  color: black; }
body.zft #content pre code .directive {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .docstring {
  color: #000; }
body.zft #content pre code .doctype {
  color: #000; }
body.zft #content pre code .done {
  text-decoration: line-through;
  color: gray; }
body.zft #content pre code .entity {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .error {
  color: #000;
  background-color: #000; }
body.zft #content pre code .escape {
  color: #000; }
body.zft #content pre code .exception {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .float {
  color: #000; }
body.zft #content pre code .function {
  color: #000;
  font-weight: bold; }
  body.zft #content pre code .function .delimiter {
    color: #000;
    font-weight: bold; }
body.zft #content pre code .global-variable {
  color: #f39;
  background: black;
  padding: 0.1em; }
body.zft #content pre code .hex {
  color: #000; }
body.zft #content pre code .id {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .include {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .inline {
  color: black; }
body.zft #content pre code .inline-delimiter {
  font-weight: bold;
  color: #600; }
body.zft #content pre code .instance-variable {
  color: #c60; }
body.zft #content pre code .integer {
  color: #00c; }
body.zft #content pre code .imaginary {
  color: red; }
body.zft #content pre code .important {
  color: #000; }
body.zft #content pre code .key {
  color: #000; }
  body.zft #content pre code .key .content {
    color: #900; }
  body.zft #content pre code .key .delimiter {
    color: #900; }
body.zft #content pre code .keyword {
  color: #90c;
  font-weight: bold; }
body.zft #content pre code .label {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .local-variable {
  color: #000; }
body.zft #content pre code .map {
  background-color: rgba(0, 170, 255, 0); }
  body.zft #content pre code .map .content {
    color: #000; }
  body.zft #content pre code .map .delimiter {
    color: #000; }
body.zft #content pre code .namespace {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .octal {
  color: #000; }
body.zft #content pre code .predefined {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .predefined-constant {
  color: #000; }
body.zft #content pre code .predefined-type {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .preprocessor {
  color: #000; }
body.zft #content pre code .pseudo-class {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .regexp {
  background-color: rgba(255, 0, 255, 0); }
  body.zft #content pre code .regexp .content {
    color: #000; }
  body.zft #content pre code .regexp .delimiter {
    color: #000; }
  body.zft #content pre code .regexp .modifier {
    color: #000; }
body.zft #content pre code .reserved {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .shell {
  background-color: rgba(0, 255, 0, 0); }
  body.zft #content pre code .shell .content {
    color: #000; }
  body.zft #content pre code .shell .delimiter {
    color: #000; }
body.zft #content pre code .string .char {
  color: #c09; }
body.zft #content pre code .string .content {
  color: #c03; }
body.zft #content pre code .string .delimiter {
  color: #c03; }
body.zft #content pre code .string .modifier {
  color: #000; }
body.zft #content pre code .symbol {
  color: #000; }
  body.zft #content pre code .symbol .content {
    color: #c03; }
  body.zft #content pre code .symbol .delimiter {
    color: #c03; }
body.zft #content pre code .tag {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .type {
  color: #000;
  font-weight: bold; }
body.zft #content pre code .value {
  color: #000; }
body.zft #content pre code .variable {
  color: #000; }
body.zft #content pre code .insert {
  background: rgba(0, 255, 0, 0); }
body.zft #content pre code .delete {
  background: rgba(255, 0, 0, 0); }
body.zft #content pre code .change {
  color: #000;
  background: #000; }
body.zft #content pre code .head {
  color: #000;
  background: #000; }
  body.zft #content pre code .head .filename {
    color: white; }
body.zft #content pre code .delete .eyecatcher {
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgba(230, 0, 0, 0);
  margin: -1px;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
body.zft #content pre code .insert .eyecatcher {
  background-color: rgba(0, 255, 0, 0);
  border: 1px solid rgba(0, 128, 0, 0);
  margin: -1px;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
body.zft #content pre code .insert .insert {
  color: #000;
  background: transparent;
  font-weight: bold; }
body.zft #content pre code .delete .delete {
  color: #000;
  background: transparent;
  font-weight: bold; }
body.zft #content pre code .change .change {
  color: #000; }
body.zft #content pre code .head .head {
  color: #000; }
