@import url("https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans&subset=latin-ext");
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  padding: 1em; }
  body #main {
    margin: 0 auto;
    width: 60em;
    max-width: 100%; }
  body #content p.back {
    margin: 0; }
    body #content p.back a {
      display: inline-block;
      margin-left: -3em;
      padding: 1em 3em;
      text-decoration: none; }
      body #content p.back a:hover, body #content p.back a:focus {
        background: #eee; }
  body #content h1, body #content h2, body #content h3, body #content h4 {
    font-weight: 400; }
  body #content h2, body #content h3, body #content h4 {
    margin: 5em 0 1em 0; }
  body #content h1 {
    font-size: 160%; }
  body #content h2 {
    font-size: 140%; }
  body #content h3 {
    font-size: 120%; }
  body #content h4 {
    font-size: 100%; }
  body #content p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4em; }
    body #content p::selection {
      background: black;
      color: #fff; }
    body #content p code {
      background: rgba(0, 0, 0, 0.03); }
  body #content a {
    color: #000; }
  body #content img {
    margin: 2em 0; }
  body #content code {
    padding: 0.1em 0.3em;
    font-family: Inconsolata; }
  body #content pre {
    margin: 4em 0; }
    body #content pre code {
      display: block;
      font-weight: 100;
      line-height: 1.2em;
      padding: 0; }
  body #content ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 2em 0; }
    body #content ul li {
      position: relative;
      line-height: 1.2em; }
    body #content ul.articles {
      list-style-type: none; }
      body #content ul.articles li {
        margin: 0.5em 0;
        display: block;
        overflow: hidden; }
        body #content ul.articles li a {
          float: left; }
        body #content ul.articles li .date {
          float: right; }
