@import url(http://fonts.googleapis.com/css?family=Armata|Nova+Square|Audiowide|Lekton:400&subset=latin,latin-ext)

@font-face
  font-family: 'Clear Sans'
  font-style: normal
  font-weight: 200
  src: url(/clearsans-1.00/TTF/ClearSans-Light.ttf) format("truetype")


@font-face
  font-family: 'Clear Sans'
  font-style: normal
  font-weight: 400
  src: url(/clearsans-1.00/TTF/ClearSans-Regular.ttf) format("truetype")

@keyframes scatter
  0%
    top: -0.6em
    bottom: -0.6em
  50%
    top: -0.5em
    bottom: -0.7em
  100%
    top: -0.6em
    bottom: -0.6em

@function compact($list)
  $new-list: ()
  @each $element in $list
    @if $element
      $new-list: append($new-list, $element, list-separator($list))
  @return $new-list

=gradient($from, $to, $pre:null, $post:null)
  background-color: $from
  background-image: compact(($pre, -moz-linear-gradient(right top, $from, $to), $post))
  background-image: compact(($pre, -webkit-linear-gradient(right top, $from, $to), $post))
  background-image: compact(($pre, -wo-linear-gradient(right top, $from, $to), $post))
  background-image: compact(($pre, linear-gradient(to right top, $from, $to), $post))


*
  margin: 0
  padding: 0

html
  height: 100%

body
  +gradient($from:rgba(230, 220, 200, 0.995), $to:rgba(255, 255, 255, 0.99), $post:url(/pattern.png))
  background-attachment: fixed
  font-size: 100%
  font-family: 'Clear Sans'
  font-weight: 200
  text-rendering: optimizeLegibility
  height: 100%

#main
  padding: 1em 0

#menu
  list-style-type: none
  overflow: hidden
  margin: 0 auto
  padding: 0 1em
  max-width: 100%
  width: 700px
  width: 45rem

  li
    float: left
    margin: 0 0.5em 0 0
    font-size: 80%

    a
      display: block
      padding: 0.2em
      text-decoration: none
      color: #000

      &:hover, &:active
        background: #000
        color: #fff

    &.current a
      background: #000
      color: #fff

#content
  margin: 2em 0 0 0

  > .block
    padding: 0 1em

    > *
      margin-left: auto
      margin-right: auto
      max-width: 100%
      width: 45rem

    &.header
      position: relative

      &:before
        content: ""
        display: block
        position: absolute
        z-index: -1
        top: -0.6em
        right: 0
        bottom: -0.6em
        left: 0
        border-top: 0.2em solid transparent
        border-bottom: 0.2em solid transparent

      &.alpha
        background: rgba(0, 130, 255, 0.6)

        &:before
          border-color: rgba(0, 130, 255, 0.6)

      &.beta
        background: rgba(255, 0, 40, 0.6)

        &:before
          border-color: rgba(255, 0, 40, 0.6)

      &.gamma
        background: rgba(150, 255, 50, 0.6)

        &:before
          border-color: rgba(150, 255, 50, 0.6)

      &.delta
        background: rgba(255, 230, 0, 0.6)

        &:before
          border-color: rgba(255, 230, 0, 0.6)

    &.codeblock
      position: relative
      background: rgba(0, 0, 0, 0.1)
      margin: 3em 0 3em 0

      &:before
        content: ""
        display: block
        position: absolute
        z-index: -1
        top: -1em
        right: 0
        bottom: -1em
        left: 0
        border-top: 0.5em solid rgba(0,0,0,0.05)
        border-bottom: 0.5em solid rgba(0,0,0,0.05)

  //h1, h2, h3, p, pre

  h1, h2, h3
    font-family: "Audiowide"
    text-transform: uppercase
    letter-spacing: 0.1em
    padding: 0.5em 0
    text-shadow: 1px 1px rgba(255, 255, 255, 1)

  h1
    font-size: 150%
    margin-bottom: 2em

  h2
    font-size: 130%
    margin-top: 3em
    margin-bottom: 2em

  h3
    font-size: 110%
    margin-top: 3em
    margin-bottom: 2em

  p
    margin-top: 1.5em
    margin-bottom: 1.5em
    line-height: 1.4em

    &::selection
      background: rgba(0,0,0,1)
      color: #fff

    &.image img

    a
      color: #000

  code
    padding: 0.1em 0.3em

  pre

    code
      display: block
      font-family: Lekton
      font-weight: 100
      line-height: 1.2em
      padding: 1em 0

  ul
    list-style-type: none
    margin: 2em 0

    li
      position: relative
      margin: 0.5em 0
      padding: 0.2em
      line-height: 1.2em
      background: rgba(0,0,0,0.1)

      &:before
        content: ""
        position: absolute
        left: -1em
        top: 0
        background: rgba(0,0,0,0.3)
        width: 1em
        height: 100%

      &:after
        content: ""
        position: absolute
        right: -1em
        top: 0
        background: rgba(0,0,0,0.3)
        width: 1em
        height: 100%
